# Logs
src/client/logs
src/client/*.log
src/client/npm-debug.log*
src/client/yarn-debug.log*
src/client/yarn-error.log*
src/client/pnpm-debug.log*
src/client/lerna-debug.log*

src/client/node_modules
src/client/.DS_Store
src/client/dist
src/client/dist-ssr
src/client/coverage
src/client/*.local

src/client/cypress/videos/
src/client/cypress/screenshots/

certs/

vendor/
var/
.idea/